%table.table.table-striped.table-hover
	%thead
		%tr
			%td= '#'
			%td= 'status'
			%td= 'owner id'
			%td= 'name'
			%td= 'created at'
			%td= 'link'
	%tbody 
	- locals[:reqs].each do |req|
		%tr{:class => ("success" if req[:is_merged])}
			%td= req[:id]
			%td 
			- if (req[:is_open])
				= "pending"
			- elsif (req[:is_merged])
				= "accepted"
			- else
				= "declined"
			%td= req[:owner_id]
			%td
				- if req[:realname] == 'UNKNOWN'
					%i
						%a{:href => '/students/' + req[:uid].to_s} #{req[:username]}
				- else
					%a{:href => '/students/' + req[:uid].to_s } #{req[:realname]}
			%td= req[:created_at]
			%td
				%a{:href => req[:link]} #{req[:link]}