%table.table.table-striped.table-hover
	%thead
		%tr
			%th{:"data-dynatable-column" => "build_status"}= 'ac'
			%th{:"data-dynatable-column" => "is_open"}= 'status'
			%th{:"data-dynatable-column" => "realname"}= 'owner'
			%th{:"data-dynatable-column" => "created_at"}= 'created at'
			%th{:"data-dynatable-column" => "link"}= 'link'
	%tbody