!!!
%html
	%head
		%link{:rel => "stylesheet", :href => "/css/prn.css", :type => "text/css"}
	%body
		%p.header Students
		%table
			%tbody 
				%tr
					%td= 'uid'
					%td= 'group'
					%td= 'name'
					%td= 'github'
					%td= 'email'
			- locals[:students].each do |student|
				%tr
					%td= student[:uid]
					%td= student[:group_name]
					%td 
						- if student[:realname] == 'UNKNOWN'
							%i
								%a{:href => '/students/' + student[:uid].to_s} #{student[:username]}
						- else
							%a{:href => '/students/' + student[:uid].to_s } #{student[:realname]}
					%td= student[:username]
					%td= student[:email]